$background-color: #ffe4c4;
$background-color-header-footer: #f5f5dc;
$background-color-menu: #caa978;
$hover-background-color-menu: #856d4d;
$background-color-acordeon: #f5f5dc;
$label-background-color: #1c1c1c;
$label-hover-background-color: #2e2e2e;
$color-white: #fff;
$color-dark: #313131;
$color-box: #b98e5a;
$color-box-reg: #ca914c;
$color-hover-link: #64553f;